.main-contenido{
    min-height: 100dvh;
}

.boton-anadir{
    position: fixed;           /* se mantiene fijo al hacer scroll */
    top: 90%;
    left: 50%;                 /* centrado horizontal */
    transform: translate(-50%, -25%);  /* ajusta al centro exacto */
    z-index: 9999;             /* siempre encima de todo */
}